.aff
  -# In case of AdBlock
  %a.internal{ href: 'https://www.etsy.com/au/shop/lillypiri' }
    %img.img-responsive{ src: 'https://img1.etsystatic.com/140/0/5814130/il_570xN.1031523919_71ms.jpg' }
    .title Vinyl Stickers, hand-crafted wooden animals, original paintings, and more
    .from Lilly Piri on Etsy
    
  .ad.ad-300-250
    -# ad: post-after
    %ins.adsbygoogle{ style: "display:inline-block;width:300px;height:250px", data: { "ad-client" => "ca-pub-3018396456569769", "ad-slot" => "2977675936" }}