.aff
  -# In case of AdBlock
  %a.internal{ href: '#' }
    .image
      %img
    .title
    .from on Socity6
    
  .ad.ad-300-250
    -# ad: post-after
    %ins.adsbygoogle{ style: "display:inline-block;width:300px;height:250px", data: { "ad-client" => "ca-pub-3018396456569769", "ad-slot" => "2977675936" }}