!!! XHTML 5
%html{html_attrs}
  %head
    %title= page_title
    %meta{ name: "description", content: page_description }/

    %meta{ property: 'og:title', content: page_title }/
    %meta{ property: 'og:description', content: page_description }/
    %meta{ property: 'og:image', content: 'http://nathanhoad.net/images/nathan-profile.png' }/
    
    %meta{ name: "author", content: "YOURNAME" }/
    %meta{ :'http-equiv' => "Content-type", content: "text/html;charset=UTF-8" }/
    
    %link{ rel: "stylesheet", type: "text/css", href: '/stylesheets/bootstrap.css' }/
    %link{ rel: "stylesheet", type: "text/css", href: '/stylesheets/application.css' }/
    %meta{ name: "viewport", content: "width=device-width, minimum-scale=1.0, maximum-scale=1.0" }/
    %link{ rel: "apple-touch-icon", type: "image/png", href: "/images/apple-touch-icon.png" }/
    %link{ rel: "icon", type: "image/png", href: "/images/favicon.png" }/

    %script{ type: 'text/javascript', src: '/javascripts/jquery.js' }
    %script{ type: 'text/javascript', src: '/javascripts/bootstrap.js' }
    %script{ type: 'text/javascript', src: '/javascripts/application.js' }
    %script{ type: 'text/javascript', src: '/javascripts/code_highlighter.js' }
    :plain
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    
  %body
    %header
      %h1
        %a{ href: '/' }
          %span YOUR BLOG
    
    %section
      %hr
      = yield
      %hr
          
    %footer
      %h2
        %span
          Hi! I'm YOURNAME.
      
      %section
        = link_to 'Twitter', 'http://twitter.com/YOURTWITTER'
        &middot;
        = link_to 'GitHub', 'http://github.com/YOURGITHUB'
        &middot;
        = link_to 'RSS', '/rss'
      
      %aside
        &copy;
        = Time.now.year
        YOURNAME