%article
  %header
    %h2
      I don't kow what you're looking for.
  
  %p 
    Make sure you double check the address or try
    = link_to 'going home', '/'
      
%aside
  = link_to 'Browse the archives', '/archive'