/* Layout */
.row { margin-top: 30px; }

a { color: black; }
a:hover { color: black; text-decoration: underline; }
img.left { float: left; margin: 0 5px 5px 0; }
img.right { float: right; margin: 0 0 5px 5px; }
img.center { display: block; margin: auto; }
object { display: block; margin: auto; }
abbr { border-bottom: 1px dashed #444; }


body > header {}
body > header > h1 > a {}
body > header > h1 > a > span {}

body > section { margin: auto; width: 480px; }
body > section > hr { border-top: 1px solid #ccc; height: 1px; width: 300px; margin: 30px auto; }

/* Index */
body > section > ul { list-style: none; margin: 0; padding: 0; }
body > section > ul > li { text-align: center; padding: 10px 0; }
body > section > ul a { color: #333; font-size: 23px; line-height: 30px; }

body > section > aside { text-align: center; margin-top: 30px; }
body > section > aside > a { color: #999; font-family: 'Arvo'; font-size: 23px; line-height: 30px; }
body > section > aside > a:hover { color: #999; }

body > section > aside > h3 { color: #999; font-size: 14px; font-weight: normal; margin: 0 0 15px 0; }
body > section > aside > h3 > a { color: #999; }
body > section > aside > h3 > a:hover { color: #999; }
body > section > aside > ul { font-size: 18px; color: #333; list-style: none; margin: 0; margin-top: -20px; margin-bottom: 40px; }
body > section > aside > ul > li { padding: 5px; }
body > section > aside > ul > li > a { color: #333; }

body > section > header { text-align: center; margin-bottom: 25px; font-family: 'Georgia'; font-size: 16px; font-style: italic; color: #090; }

/* Posts */
article { padding-bottom: 40px; margin-bottom: 40px; }
article > header { margin-bottom: 40px; }
article > header > h2 { font-family: 'Arvo'; font-size: 35px; line-height: 45px; text-align: center; margin-top: 40px; margin-bottom: 15px; }
article > header > h2 > a { color: #333; }
article > header > h2 > a:hover { color: #333; text-decoration: underline; }
article > header > aside { font-size: 16px; color: #999; margin: auto; text-align: center; }
article > header > aside a { color: #999; }
article > header > aside a:hover { color: #999; text-decoration: underline; }
article > header > aside ul { display: inline; list-style: none; margin: 0; padding: 0; }
article > header > aside li { display: inline; }
article > header > cite { display: block; margin-top: 40px; text-align: center; }
article > header > cite > a { font-size: 20px; color: #090; font-family: 'Enriqueta'; text-decoration: underline; }
article > header > cite > a:hover { color: #090; }
article > p { font-family: 'Enriqueta'; text-align: justify; font-size: 18px; line-height: 25px; }
article > p > img:only-child { margin: 30px auto !important; }
article > p > object { margin: 30px auto; }
article > p a { color: black; text-decoration: underline; }
article > blockquote { border: none; border-left: 2px solid #900; margin: 30px; }
article > blockquote > p { color: #900; font-size: 18px; font-style: italic; }
article > h3 { color: #999; font-weight: normal; font-size: 22px; line-height: 50px; margin-top: 40px; text-align: center; }
article > hr { display: none; }

article > .say-thanks { font-size: 18px; color: #060; margin-top: 30px; }
article > .say-thanks a { color: #090; }

/* About */
body > footer { margin: 60px 0 30px 0; }
body > footer > h2 { font-size: 15px; font-weight: normal; line-height: 18px; height: 320px; width: 280px; margin: auto; position: relative; }
body > footer > h2 > span { color: #444; display: block; font-size: 17px; line-height: 23px; margin: auto; width: 130px; position: absolute; top: 20px; left: 30px; }
body > footer > section { color: #999; text-align: center; font-size: 14px; font-weight: bold; margin-bottom: 5px; }
body > footer > section > a { color: #999; }
body > footer > section > a:hover { color: #999; }
body > footer > aside { color: #999; font-size: 14px; text-align: center; }

/* Archives */
body > section > section { text-align: center; }
body > section > section > h2 { color: #999; font-size: 14px; font-weight: normal; margin-top: 30px; }
body > section > section > ul { list-style: none; margin: 0 0 20px 0; padding: 0; }
body > section > section > ul > li { margin: 10px 0; }
body > section > section > ul a { color: black; font-size: 18px; }


/* Code */
pre { background: none; border: none; padding: 10px 0 20px 10px; white-space: pre; word-break: normal; word-wrap: normal; }
code { white-space: pre; word-break: normal; word-wrap: normal; }
code span.comment { color: #999; }
code span.string { color: #080; }
code span.symbol { color: #086fa1 }
code span.module_class { color: #e45c47; }
code span.variable { color: #9303a7; }
code span.keywords { color: #ff6400; }
code span.global { color: #9303a7; }

code.html span { color: #fff; }
code.html span.tag,
code.haml span.tag,
code.html span.anglebrackets { color: #ff9000; }
code.html span.attribute { color: #e8bf6a; }
code.html span.string { color: #080; }
code.html span.comment { color: #999; }
code.html span.doctype,
code.haml span.doctype { color: #900; }

code.css .selectors { color: #e8bf6a; }
code.css .properties { color: #6d9cbe; }

code.shell { color: #ccc; }
code.shell span.keywords { color: #fff; }


/* Google Adsense */
.ad-300-250 { width: 300px; margin: auto; }
.ad-120-600 { position: fixed; top: 20px; left: 10px; }

/* Mobile */
@media all and (max-device-width: 480px) {
  .ad-120-600 { display: none; }
  
  body > header > h1 > a { width: 100%; }
  body > section { width: 100%; }
  body > section > ul { padding: 0 5px; }
  
  article { padding: 0 15px; }
  article h2 { font-size: 30px; line-height: 40px; text-align: center; margin-top: 40px; margin-bottom: 20px; }
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  
}