@import url('http://fonts.googleapis.com/css?family=Quando|Gloria+Hallelujah');

/*
  blue: #3f78bd
*/

/* Layout */
.row { margin-top: 50px; }

a { color: #3f78bd; }
a:hover { color: #3f78bd; }
img.left { float: left; margin: 0 5px 5px 0; }
img.right { float: right; margin: 0 0 5px 5px; }
img.center { display: block; margin: auto; }
object { display: block; margin: auto; }
abbr { border-bottom: 1px dashed #444; }

#athletable { background: white; border-bottom: 1px solid #ccc; color: #666; padding: 8px; position: fixed; text-align: center; top: 0; width: 100%; }
  #athletable span { color: #080; }
  #athletable a { color: #666; font-weight: bold; text-decoration: underline; }

#title { position: fixed; left: 80px; top: 60px; }
  #title h1 { display: none; }
    #title a {}
    #title a:hover { text-decoration: none; }
    #title a strong { display: none; }
    #title a span { background: url(/images/arrow-up.png) no-repeat 12px 15px; display: none; color: #999; font-family: "Gloria Hallelujah"; font-size: 17px; font-weight: bold; padding: 50px 0 0 0; }
    #title a:hover span { display: block; }


/* Posts */
article { background: url(/images/article-divider.png) no-repeat bottom; padding-bottom: 40px; margin-bottom: 40px; }
  article h2 { font-family: 'Quando'; font-size: 23px; line-height: 32px }
    article h2 a { color: #333; }
    article h2 a:hover { color: #333; text-decoration: underline; }
  article aside { color: #999; margin-bottom: 15px; }
    article aside a { color: #999; }
    article aside a:hover { color: #999; text-decoration: underline; }
    article aside ul { display: inline; list-style: none; margin: 0; padding: 0; }
    article aside li { display: inline; }
  article p { text-align: justify; }
  article p a { text-decoration: underline; }
  article h3 { color: #999; font-family: "Gloria Hallelujah"; font-size: 22px; line-height: 50px; text-align: center; }
  article hr { display: none; }

/* About */
#content > aside { position: fixed; bottom: 20px; right: 30px; width: 200px; }
  #content > aside > h2 { background: url(/images/nathan.png) no-repeat top; font-size: 15px; font-weight: normal; line-height: 18px; height: 400px; }
  #content > aside > h2 > span { display: block; font-family: "Gloria Hallelujah"; font-size: 17px; line-height: 20px; margin: auto; padding-top: 40px; width: 130px; }
  #content > aside > h2 > span > a { text-decoration: none; }
  #content > aside > ul { list-style: none; margin: 30px auto; width: 70px; }
  #content > aside > ul > li { float: left; }
  #content > aside > ul > li > a { display: block; width: 30px; height: 30px; opacity: 0.3; -webkit-transition: all 0.3s ease-out; }
  #content > aside > ul > li > a:hover { opacity: 1; }
  #content > aside > ul > li > a > span { display: none; }
  #content > aside > ul > li.twitter > a { background: url(/images/twitter.png) no-repeat; margin-right: 10px; }
  #content > aside > ul > li.subscribe > a { background: url(/images/subscribe.png) no-repeat; }

/* Footer */
#content > section > footer { text-align: center; margin: 0 0 30px 0; }
  #content > section > footer > h4 { color: #ccc; font-family: "Gloria Hallelujah"; font-size: 22px; text-align: center; margin-bottom: 20px }
  #content > section > footer > h4 > a { color: #3f78bd; font-family: "Gloria Hallelujah"; text-decoration: none; }
  #content > section > footer > ul { list-style: none; margin: 0; padding: 0; }
  #content > section > footer > ul > li { padding: 5px 0; }
  #content > section > footer > ul > li > span { display: none; }
  #content > section > footer a { color: black; font-family: "Quando"; text-decoration: underline; }
  
  /* Newer posts / Older posts */
  #content > section > footer > ul[data-context="pages"] { margin-bottom: 30px; width: 100%; overflow: hidden; }
    #content > section > footer > ul[data-context="pages"] > li { float: left; width: 50% }
    #content > section > footer > ul[data-context="pages"] > li > a { display: block; padding-top: 130px; }
    #content > section > footer > ul[data-context="pages"] > li:first-of-type > a { background: url(/images/older-posts.png) no-repeat top; }
    #content > section > footer > ul[data-context="pages"] > li:last-of-type > a { background: url(/images/newer-posts.png) no-repeat top; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; text-decoration: none; }

/* Archives */
#content > section > h2 { color: #999; font-size: 16px; }
  #content > section > ul { list-style: none; margin: 0 0 20px 0; padding: 0; }
  #content > section > ul > li { margin: 10px 0; }
  #content > section > ul a { font-family: 'Quando'; color: black; }


/* Code */
pre { background: none; border: none; padding: 10px 0 20px 10px; white-space: pre; word-break: normal; word-wrap: normal; }
code { white-space: pre; word-break: normal; word-wrap: normal; }
code span.comment { color: #999; }
code span.string { color: #080; }
code span.symbol { color: #086fa1 }
code span.module_class { color: #e45c47; }
code span.variable { color: #9303a7; }
code span.keywords { color: #ff6400; }
code span.global { color: #9303a7; }

code.html span { color: #fff; }
code.html span.tag,
code.haml span.tag,
code.html span.anglebrackets { color: #ff9000; }
code.html span.attribute { color: #e8bf6a; }
code.html span.string { color: #080; }
code.html span.comment { color: #999; }
code.html span.doctype,
code.haml span.doctype { color: #900; }

code.css .selectors { color: #e8bf6a; }
code.css .properties { color: #6d9cbe; }

code.shell { color: #ccc; }
code.shell span.keywords { color: #fff; }


/* Mobile */
@media all and (max-device-width: 480px) {
  #athletable { display: none; }
  
  /* Title */
  #title { left: 10px; top: 20px; }
  #title a span { display: block; opacity: 0.3; }
  
  body > .row { margin-left: 0; }
  #content { margin-left: 0px; padding-left: 90px; width: 65%; }
  
  /* About */
  #content > aside { position: static; width: 200px; }
    #content > aside > h2 { background: url(/images/nathan.png) no-repeat top; font-size: 15px; font-weight: normal; line-height: 18px; height: 400px; }
    #content > aside > h2 > span { display: block; font-family: "Gloria Hallelujah"; font-size: 17px; line-height: 20px; margin: auto; padding-top: 40px; width: 130px; }
    #content > aside > h2 > span > a { text-decoration: none; }
    #content > aside > ul { display: none; }
}