article {
  padding-bottom: 40px;
  margin-bottom: 40px;
}
article > header {
  margin-bottom: 40px;
}
article > header > h2 {
  font-family: 'Arvo', georgia, serif;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
}
article > header > h2 > a {
  color: #333;
}
article > header > h2 > a:hover {
  color: #333;
  text-decoration: underline;
}
article > header > aside {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #999;
  margin: auto;
  text-align: center;
}
article > header > aside a {
  color: #999;
}
article > header > aside a:hover {
  color: #999;
  text-decoration: underline;
}
article > header > aside ul {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
article > header > aside li {
  display: inline;
}
article > header > cite {
  display: block;
  margin-top: 40px;
  text-align: center;
}
article > header > cite > a {
  font-size: 20px;
  color: #090;
  font-family: 'Enriqueta', georgia, serif;
  text-decoration: underline;
}
article > header > cite > a:hover {
  color: #090;
}
article > p {
  font-family: 'Enriqueta', georgia, serif;
  text-align: left;
  font-size: 18px;
  line-height: 25px;
}
article > p > img:only-child {
  margin: 30px auto !important;
  max-width: 100%;
}
article > p > a > img:only-child {
  margin: auto !important;
  max-width: 100%;
}
article > p > a > img[src^='https://instagram'] {
  max-width: 70%;
  display: block;
}

article > p > object {
  margin: 30px auto;
}
article > p a {
  color: black;
  text-decoration: underline;
}
article > ul {
  font-family: 'Enriqueta', georgia, serif;
  text-align: justify;
  font-size: 18px;
  line-height: 25px;
}
article > ul > li {
  margin-bottom: 15px;
}
article > blockquote {
  border: none;
  border-left: 2px solid #900;
  margin: 30px;
}
article > blockquote > p {
  color: #900;
  font-family: 'Enriqueta', georgia, serif;
  font-size: 18px;
  font-style: italic;
}
article > h3 {
  color: #999;
  font-family: 'Arvo';
  font-weight: normal;
  font-size: 22px;
  line-height: 50px;
  margin-top: 40px;
  text-align: center;
}
article > hr {
  display: none;
}
article > p > iframe {
  max-width: 100%;
  height: 270px;
  margin: 10px 0;
}
article > p > iframe.itch {
  height: auto;
}
