.section-wide {
  margin: 40px -130px;

  & > * > img {
    width: 100%;
  }

  @media screen and (max-width: 440px) {
    float: none;
    margin: 0 -10px;

    figcaption {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.section-full {
  margin-left: calc(-50vw + 50%);
  width: 100vw;
  max-width: 100vw;

  h1,
  p {
    padding-left: 10px;
    padding-right: 10px;
  }

  & > p > img {
    width: 100%;
  }

  @media screen and (max-width: 440px) {
    margin: 0;
  }
}

.section-gallery {
  p {
    margin: 0;
    padding: 0;
    line-height: 0;
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;

    &.one > * {
      max-width: 100%;
    }

    &.two > * {
      max-width: calc(50% - 2px);
    }

    &.three > * {
      max-width: calc(33.3333333% - 3px);
    }
  }
}

.section-block {
  margin-top: 50px;
  margin-left: calc(-50vw + 50%);
  margin-bottom: 50px;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  position: relative;
  overflow: hidden;

  .block-background {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    & > p {
      margin: 0;
      padding: 0;

      & > img {
        width: 100%;
      }
    }

    & > *:not(figcaption) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;

      object-fit: cover;
    }
  }

  .block-panel {
    max-width: 700px;
    width: 100%;
    padding: 10px 60px;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    margin: 90vh auto;
    border-radius: 2px;

    &.block-panel-light {
      background: rgba(255, 255, 255, 0.75);
      color: black;
    }

    p {
      font-size: 22px;
      line-height: 42px;

      br {
        margin-bottom: 30px;
      }
    }
  }

  figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.7);
    font-size: 9px;
  }
}

.section-right {
  float: right;
  max-width: 350px;
  margin: 10px -130px 30px 30px;

  @media screen and (max-width: 440px) {
    float: none;
    max-width: 100%;
    margin: 0;
  }
}

.section-left {
  float: left;
  max-width: 350px;
  margin: 10px 30px 30px -130px;

  @media screen and (max-width: 440px) {
    float: none;
    max-width: 100%;
    margin: 0;
  }
}

.main-gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(110%);
  transition: transform 0.3s ease;

  &.visible {
    transform: translateY(0);
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 64px;
    height: 64px;
    background: rgba(47, 154, 231, 0.6);
    border: none;
    color: white;
    font-size: 40px;
    line-height: 62px;
    font-weight: bold;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;

    @media screen and (max-width: 440px) {
      top: initial;
      bottom: 0;
      transform: translate(0, 0);
      background: rgba(47, 154, 231, 0.9);
    }

    &.previous {
      left: 0;
    }

    &.next {
      right: 0;
    }

    &.close {
      top: 0;
      transform: translate(0, 0);
      right: 0;
      background: rgba(170, 12, 12, 0.8);
      vertical-align: bottom;
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;
    max-height: 95vh;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
    background: white;

    &.jiggle-left-1 {
      animation-name: jiggle-left-1;
      animation-duration: 0.25s;
      animation-iteration-count: 1;
    }

    &.jiggle-left-2 {
      animation-name: jiggle-left-2;
      animation-duration: 0.25s;
      animation-iteration-count: 1;
    }

    &.jiggle-right-1 {
      animation-name: jiggle-right-1;
      animation-duration: 0.25s;
      animation-iteration-count: 1;
    }

    &.jiggle-right-2 {
      animation-name: jiggle-right-2;
      animation-duration: 0.25s;
      animation-iteration-count: 1;
    }
  }

  @keyframes jiggle-left-1 {
    0%,
    100% {
      transform: translate(-50%, -50%);
    }
    50% {
      transform: translate(-49%, -50%);
    }
  }

  @keyframes jiggle-left-2 {
    0%,
    100% {
      transform: translate(-50%, -50%);
    }
    50% {
      transform: translate(-49%, -50%);
    }
  }

  @keyframes jiggle-right-1 {
    0%,
    100% {
      transform: translate(-50%, -50%);
    }
    50% {
      transform: translate(-51%, -50%);
    }
  }

  @keyframes jiggle-right-2 {
    0%,
    100% {
      transform: translate(-50%, -50%);
    }
    50% {
      transform: translate(-51%, -50%);
    }
  }
}
