<footer>
  <a id="subscribe"></a>
  <form
    action="https://nathanhoad.us4.list-manage.com/subscribe?u=02b7c08b783c10184c4a1ef63&id=c81513b13f"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="newsletter"
    target="_blank"
    novalidate
  >
    <div>
      <p>
        If you want to keep up to date with my adventures in game development then you can
        <a href="https://twitter.com/nathanhoad">follow me on Twitter</a> or subscribe to my monthly newsletter.
      </p>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required />
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_02b7c08b783c10184c4a1ef63_c81513b13f" tabindex="-1" value="" />
      </div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" />
    </div>
  </form>

  <ul>
    <li><a href="https://twitter.com/nathanhoad">Twitter</a></li>
    <li><a href="https://github.com/nathanhoad">GitHub</a></li>
    <li>
      <a href="https://www.youtube.com/channel/UCIdCxj0B9BXJ5tHXLgNWF6w">YouTube</a>
    </li>
    <li><a href="https://nathanhoad.itch.io">Itch</a></li>
    <li><a href="https://bynathanhoad.etsy.com">Etsy</a></li>
  </ul>
  <aside>&copy <span><%= new Date().getFullYear() %></span> Nathan Hoad</aside>
</footer>

<script type="text/javascript">
  // Footer
  document.querySelector("footer > aside > span").textContent = new Date().getFullYear();
  // Focus email field when subscribing
  [].slice.call(document.querySelectorAll('a[href="#subscribe"]')).forEach(function(a) {
    a.addEventListener("click", function() {
      setTimeout(() => {
        document.getElementById("mce-EMAIL").focus();
      }, 100);
    });
  });
</script>
