.welcome {
  margin: 0 auto 60px auto;
  position: relative;
  overflow: hidden;

  background-image: url(home.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;

  & > div:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(home.gif);
    background-size: cover;
    background-position: center;
  }

  & > h1 {
    text-indent: -10000px;
    color: transparent;
    position: absolute;
    top: 12vh;
    left: 50%;
    max-width: 700px;
    width: 90%;
    height: 50vh;
    transform: translate(-50%, 0);
    background-image: url(home.svg);
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (max-width: 440px) {
    }
  }
}

.about {
  margin-bottom: 80px;

  & > p {
    font-size: 26px;
    line-height: 38px;
    color: #222;
    margin: 0 auto 20px auto;
    padding: 0;
    max-width: 700px;

    @media screen and (max-width: 440px) {
      font-size: 22px;
      line-height: 30px;
      max-width: 100%;
      padding: 0 20px;
    }
  }

  a {
    color: black;
  }
}

.contents {
  ul {
    list-style: none;
    padding: 0;
    max-width: 700px;
    margin: auto;

    @media screen and (max-width: 440px) {
      width: 100%;
      padding: 0 20px;
    }
  }

  li {
    margin-bottom: 30px;
  }

  a {
    color: black;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 10px;
  }

  .meta {
    font-size: 16px;
    margin: 0 auto;
    color: #999;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.not-found {
  max-width: 900px;
  margin: auto;
  //background: rgb(151, 26, 26);
  //color: white;
  padding: 40px;
  padding-bottom: 20px;
  //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 100px;
  border-radius: 5px;
  min-height: 40vh;

  a {
    color: black;
  }

  h1,
  p {
    max-width: 700px;
    margin: auto;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
  }

  h1 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }

  p {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 20px;
  }
}
