body > article {
  & > header {
    max-width: 700px;
    margin: 50px auto;

    @media screen and (max-width: 440px) {
      max-width: 100%;
      padding: 0 10px;
    }

    & > img:first-child {
      display: block;
      margin: auto;
      max-width: 150px;

      @media screen and (max-width: 440px) {
        max-width: 120px;
      }
    }

    & > h1 {
      font-size: 36px;
      line-height: 46px;
      text-align: center;
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      font-weight: bold;

      @media screen and (max-width: 440px) {
        font-size: 30px;
        line-height: 36px;
      }
    }

    & > aside {
      font-size: 16px;
      margin: 0 auto;
      text-align: center;
      color: #999;
      font-family: Arial, Helvetica, sans-serif;

      & > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;

        & > li {
          display: inline-block;
          margin-right: 1px;

          & > a {
            color: #999;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  & > figure {
    margin: 30px 0;
    padding: 0;

    & > figcaption {
      text-align: center;
      font-size: 13px;
      line-height: 16px;
      font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif;
    }
  }

  & > section {
    max-width: 700px;
    margin: auto;
    font-size: 20px;
    line-height: 32px;

    @media screen and (max-width: 440px) {
      max-width: 100%;
      padding: 0 10px;
    }

    h2 {
      font-size: 26px;
      line-height: 32px;
      margin-top: 60px;
      font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif;
      font-weight: bold;

      @media screen and (max-width: 440px) {
        font-size: 22px;
        line-height: 30px;
      }
    }

    a {
      color: black;
      text-decoration: underline;
    }

    img {
      max-width: 100%;
    }

    & > figure {
      text-align: center;
      margin: 30px 0;

      figcaption {
        text-align: center;
        font-size: 13px;
        line-height: 16px;
        font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif;
      }

      &.full {
        margin: 40px -130px;

        @media screen and (max-width: 440px) {
          float: none;
          margin: 0 -10px;
        }
      }

      &.right {
        float: right;
        max-width: 450px;
        margin: 10px -130px 30px 30px;

        @media screen and (max-width: 440px) {
          float: none;
          margin: 0 -10px;
        }
      }

      &.left {
        float: left;
        max-width: 450px;
        margin: 10px 30px 30px -130px;

        @media screen and (max-width: 440px) {
          float: none;
          margin: 0 -10px;
        }
      }
    }

    pre {
      margin: 40px -130px;
      padding: 8px 16px;
      background: #222;
      color: white;
      border-radius: 3px;
      font-size: 14px;
      overflow-x: scroll;

      @media screen and (max-width: 440px) {
        max-width: 100%;
        margin: 0;
      }
    }

    p > code {
      background: rgb(167, 233, 173);
      font-size: 14px;
      padding: 4px;
      color: black;
      border-radius: 3px;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
    }

    .gist {
      margin: 40px -130px;

      @media screen and (max-width: 440px) {
        max-width: 100%;
        margin: 0;
      }
    }

    iframe[src^="https://www.youtube"] {
      width: 960px;
      height: 540px;
      margin: 0px -130px;

      @media screen and (max-width: 440px) {
        width: 100%;
        height: 240px;
        max-width: 100%;
        margin: 0;
      }
    }

    blockquote {
      font-style: italic;
    }

    & > aside {
      margin-top: 60px;

      a {
        color: rgb(219, 62, 0);
      }
    }
  }
}
