body > article {
  & > header {
    max-width: 700px;
    margin: 50px auto 30px auto;

    @media screen and (max-width: 440px) {
      max-width: 100%;
      padding: 0 10px;
    }
  }

  & > section {
    max-width: 700px;
    margin: auto;
    font-size: 20px;
    line-height: 32px;

    @media screen and (max-width: 440px) {
      max-width: 100%;
      padding: 0 10px;
    }
  }

  h1 {
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 20px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;

    @media screen and (max-width: 440px) {
      font-size: 35px;
      line-height: 42px;
    }
  }

  .meta {
    font-size: 16px;
    margin: 0 auto;
    color: #999;
    font-family: Arial, Helvetica, sans-serif;
  }

  h2 {
    font-size: 26px;
    line-height: 32px;
    margin-top: 60px;
    font-family: "Open Sans", Georgia, "Times New Roman", Times, serif;
    font-weight: bold;

    @media screen and (max-width: 440px) {
      font-size: 22px;
      line-height: 30px;
    }
  }

  a {
    color: black;
    text-decoration: underline;
  }

  img {
    max-width: 100%;
  }

  figure {
    margin: 0;
    margin-bottom: 20px;

    img {
      max-width: 100%;
    }
  }

  figcaption {
    padding: 0 3px;
    color: #333;
    font-size: 12px;
    line-height: 16px;
    font-family: "Open Sans", Georgia, "Times New Roman", Times, serif;
  }

  pre {
    margin: 40px -130px;
    padding: 8px 16px;
    background: #222;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    overflow-x: scroll;

    @media screen and (max-width: 440px) {
      max-width: 100%;
      margin: 0;
    }
  }

  p > code {
    background: rgb(167, 233, 173);
    font-size: 14px;
    padding: 4px;
    color: black;
    border-radius: 3px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
  }

  blockquote {
    font-style: italic;
    margin: 30px 0;
    font-size: 22px;
    line-height: 28px;
    color: #333;
    padding: 0 40px;
    color: black;

    .author {
      padding-top: 0;
      padding-left: 60px;
      line-height: 26px;
      font-size: 18px;
      margin-top: -10px;
      color: #666;
    }
  }

  hr {
    border: none;
    margin-bottom: 80px;

    &:after {
      content: "∗ ∗ ∗";
      display: block;
      text-align: center;
      color: #ccc;
      font-size: 30px;
    }
  }

  ul,
  ol {
    li {
      margin-bottom: 20px;
    }
  }

  footer {
    margin-top: 60px;

    a {
      color: rgb(219, 62, 0);
    }
  }

  /* Third Party */

  .twitter-tweet {
    margin: 20px auto;

    @media screen and (max-width: 440px) {
      max-width: 100%;
    }
  }

  .gist {
    margin: 40px -130px;

    @media screen and (max-width: 440px) {
      max-width: 100%;
      margin: 0;
    }
  }

  iframe[src^="https://www.youtube"] {
    width: 960px;
    height: 540px;
    margin: 0px -130px;

    @media screen and (max-width: 440px) {
      width: calc(100% + 20px);
      height: 240px;
      max-width: calc(100% + 20px);
      margin: 0 -20px;
    }
  }

  /* /Third Party */
}
