* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Enriqueta, Georgia, "Times New Roman", Times, serif;
}

hr {
  border: none;
  border-bottom: 1px solid #ccc;
  height: 1px;
  margin: 60px auto;
  max-width: 60%;
}

// Back link
body > aside:first-child {
  padding: 20px 40px;
  margin-bottom: 150px;
  position: relative;
  height: 64px;
  display: flex;

  & > a {
    display: inline-block;
    vertical-align: middle;
    line-height: 85px;
    color: #666;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    flex-grow: 0;
    position: relative;

    &:hover {
      color: black;
    }

    &:first-of-type {
      background: url("/logo.png") no-repeat top left;
      background-size: 64px 64px;
      height: 64px;
      padding-left: 80px;
      flex-grow: 1;
      color: #292929;
      font-weight: bold;
      font-size: 18px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 440px) {
    padding-bottom: 30px;
  }
}

@import "index";
@import "post";
@import "tag";

@import "footer";

@import "enhance";
