body,
html {
  margin: 0;
  padding: 0;
  font-family: Enriqueta, Georgia, 'Times New Roman', Times, serif;
}

hr {
  border: none;
  border-bottom: 1px solid #ccc;
  height: 1px;
  margin: 60px auto;
  max-width: 60%;
}

// Back link
body > aside:first-child {
  text-align: center;
  margin: 10px auto 10px auto;

  & > a {
    color: #999;
    font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: black;
    }
  }
}

@import 'index';
@import 'post';
@import 'tag';

footer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 150px 0 30px 0;
  padding-top: 125px;
  background: url(/footer.gif) no-repeat top center;
  color: #666;

  & > header {
    display: none;
  }

  & > ul {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;

    & > li {
      display: inline-block;
      margin: 0 5px;

      & > a {
        color: #666;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
